body {
  padding: 20px;
  text-align: center;
}
.pickButton {
    font-size: 14px;
    margin: 8px;
    padding: 0 10px;
    line-height: 2;
    color: white;
    background: teal;
}

button {
      font-size: 14px;
      margin: 8px;
      padding: 0 10px;
      line-height: 2;
      color: white;
      background: seagreen;
}

button:hover {
  background: lightseagreen;
}

.pickButton:hover {
  background: turquoise;
}
